.searchContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 15px;
}

.searchBox {
    width: 100%;
    padding: 12px 20px 12px 40px;
    font-size: 16px;
    border: 0px solid #040404;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    outline: none;
    transition: all 0.3s;
    box-sizing: border-box
}