.coursesParent {
	display: flex;
	gap: 20px;
	height: 100vh;
	overflow: hidden;
}

.searchPanelParent {
	position: relative;
	top: 70px;
	overflow-y: scroll;
	height: 100vh;
	min-width: 0;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.detailedViewParent {
    overflow-y: scroll;
    height: 100vh;
    min-width: 0;
	padding-right: 40px;
	padding-left: 0px;
	position: relative;
	top: 30px;
}

.dropdown {
    background-color: #f8f9fa;
    color: #495057;
    padding: 8px 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.CourseIntroText {
	overflow-wrap: break-word;
}