.searchContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: inherit;
    padding: 0px 0px 0px 0px;
    margin: 10px auto;
	width: 100%;
	max-width: 95%;
}

.searchBox {
	flex: 1;
    padding: 12px 12px 12px 40px;
    margin: 0%;
    font-size: 16px;
    border: 0px solid #040404;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    outline: none;
    transition: all 0.3s;
    box-sizing: border-box
}

.searchButton {
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.18);
    background-color: #205cd4;
    color: white;
    transition: background-color ease-in-out 0.3s;
	border-radius: 0px 4px 4px 0px;

}

.search-wrapper {
	/*border: 5px solid green;*/
	display: grid;
	justify-items: center;
	justify-content: center;
}

.searchButton:hover {
    background-color: #4c63b8;
}

.searchButton:active,
.searchButton:focus {
    outline: none;
}

/* @media (max-width: 320px) {
	.searchBox {
		width: 70%;
	}

	.searchContainer {
		width: 70%;
	}
} */
