
.daySelectorButton {
	padding: 0px;
	margin-top: 0px;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.daySelectorParent {
	display: flex; 
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.dayText {
	display: block;
	width: 100px;
	text-align: center;
	margin: 0;
}