:root {
  --bg-color: #ebe7e7;
  --text-color: #000000;
  --card-bg: #ffffff;
  --link-color: #1a0dab;
  --shadow-hover: drop-shadow(0 0 2em #646cffaa);
  --gold: #ffd700;

  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  flex: 1;
  flex-grow: 1;
  width: 100%;
  /* padding: 2rem; */
  text-align: center;

  color: var(--text-color);
  background-color: var(--bg-color);

  transition: background-color 0.45s ease, color 0.45s ease;
}


[data-theme="dark"] {
  color-scheme: dark;
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --card-bg: #2a2a2a;
  --link-color: #7baaf7;
  --divider-color: #e9ecef9a;
  --shadow-hover: drop-shadow(0 0 2em #646cffaa);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color: var(--text-color);
  background-color: var(--bg-color);
} */

.Peak-Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
}

.Peak-Logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.Peak-Logo:hover {
  filter: var(--shadow-hover);
}

.Peak-Logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.Peak-Card {
  padding: 2em;
  background-color: var(--card-bg);
  border-radius: 10px;
}

.read-the-docs {
  color: var(--text-color);
}

a {
  color: var(--link-color);
}